--extra-index-url https://download.pytorch.org/whl/cu130
torch
torchvision
torchaudio
python-docx
transformers
sentence-transformers
aiogram
aiohttp
openai
python-dotenv
pypdf
openpyxl
python-pptx
pillow
